.cart {
    position: relative;
}

.cart-items-list {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}