.cart {
    position: relative;
}

.cart-items-list {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
    overflow-y: auto;
    height: 100%;
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    height: 100%;
}

.your-cart {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.cart-value {
    color: #838383;
    font-size: smaller;
}

.amount {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.empty {
    margin-top: 2rem;
    text-align: center;
}