* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 65%;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: 1.4rem;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 120rem;
    padding: 1rem 2rem;
    margin: 0 auto;
}

.dropdown-icon {
    transform: rotate(90deg);
    height: 100%;
}

.body-container {
    background-color: #edeff1;
}

.primary-button {
    background-color: #ff5a00;
    border: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem 1.6rem;
    cursor: pointer;
}

.primary-button:hover {
    background-color: #ff7b33;
}