.modal {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    background-color: white;
    width: 60rem;
    height: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 100;
    animation: slide-down 300ms ease-out forwards;
    display: none;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes slide-down {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}