.offer-modal,
.cart-modal {
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 6;
    animation: slide-down 300ms ease-out forwards;
    display: none;
}

.offer-modal {
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    width: 60rem;
    height: 40rem;
}

.cart-modal {
    position: fixed;
    top: 7rem;
    right: 1rem;
    width: 40rem;
    height: 30rem;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes slide-down {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .cart-modal {
        width: 100%;
        right: 0;
    }
}

@media (max-width: 1100px) {
    .offer-modal {
        left: 0;
    }
}

@media (max-width: 700px) {
    .offer-modal {
        width: 100%;
    }
}