.body-content {
    display: flex;
    gap: 1rem;
}

.body-header {
    margin-top: 2rem;
    margin-bottom: 1.6rem;
}

.body-header span {
    font-size: 1.4rem;
    font-weight: normal;
    color: #767676;
}

.subcategories,
.sponsored,
.offers {
    background-color: #fff;
    padding: 1rem;
    text-align: center;
}

.sponsored-and-offers {
    width: 75%;
}

.sponsored-and-offers-mobile {
    width: 100%;
}

.sponsored {
    height: 15rem;
    margin-bottom: 1rem;
}

.subcategories {
    height: 150rem;
    width: 25%;
}