.breadcrumbs {
    display: flex;
    margin-bottom: 2.4rem;
}

.breadcrumbs li:after {
    content: "\00a0\00a0-\00a0\00a0";
}

.breadcrumbs li:last-child:after {
    content: "";
}

.active {
    color: #ff5a00;
}