.offer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    cursor: pointer;
    position: relative;
}

.offer-description {
    text-align: left;
    color: #767676;
}

.img-container {
    height: 15rem;
    width: 15rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
    margin-right: 1.2rem;
}

.name {
    font-weight: normal;
    font-size: 1.8rem;
}

.price {
    color: black;
    font-weight: bold;
    font-size: 2.8rem;
}

.decimal {
    font-size: 2rem;
}

.offer-modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}